<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.votuan.learningenglish">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".phatam"></activity>
        <activity android:name=".hoaqua"></activity>
        <activity android:name=".dongvat"></activity>
        <activity android:name=".mausac"></activity>
        <activity android:name=".thethao"></activity>
        <activity android:name=".sodem"></activity>
        <activity android:name=".bangchucai"></activity>
        <activity android:name=".giaothong"></activity>
        <activity android:name=".tudien"></activity>
        <activity android:name=".hocnghe2"></activity>
        <activity android:name=".listnghe"></activity>
        <activity android:name=".viecnha"></activity>
        <activity android:name=".listnguphap"></activity>
        <activity android:name=".nguphap"></activity>
        <activity android:name=".giadinh"></activity>
        <activity android:name=".cothe"></activity>
        <activity android:name=".nghenghiep"></activity>

    </application>

</manifest>